.link {
  border: none;
  color: blue;
  padding: 15px 32px;

  top: 0px;
  right: 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 200px;
  cursor: pointer;
}
.tabcontent{
  display: none;
}
.tabcontent h1{
  font-family: arial;
  padding-left: 10px;
}
.tabcontent ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-family: arial;
}
.tab button{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  color: white;
  padding: 30px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin: 1px 1px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #1bf51b;
  
}
.tab button:hover{
  background-color: #27d417;
}
.tab button.active {
  background-color: #158000;
}
.sub-button{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background-color:#3280ed;
  border: none;
  cursor: pointer;
  font-size: 30px;
}
.sub-button:hover{
  background-color: #27d417;
}
.sub-button.active {
  background-color: #61ff19;
}
.subbed{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  background-color:#61ff19;
  border: none;
  cursor: pointer;
}
.sub{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  background-color:#3280ed;
  border: none;
  cursor: pointer;
}
li{
  margin: 10px 0;
}  
.byte{
  padding-top: 5px;
  padding-bottom: 10px;
  
  border: none;
  text-align: left;
  margin: 2px;  
}
.byte h1{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  padding: 6px 6px;
  background-color:#158000;
  border: none;
  font-family: arial;
  margin-left: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.byte h2{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  display: inline-block;
  padding: 6px 6px;
  margin-left: 8px;
  background-color:#3280ed;
  border: none;
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.byte p{
  margin-left: 8px;
  font-size: 20px;
}
.main-page{
  background-color: #c1c4c9;
}
.login-page{
  text-align: center;
  
  background-color: #c1c4c9;
  
}
.login-page h2{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border: solid;
  color: black;
  padding: 30px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  margin: 1px 1px;
  font-family: arial;
  background-color: #1bf51b;
  margin-bottom: 20px;
}
.login-page input{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px; 
  padding: 5px 10px;
  display: inline-block;
  font-family: arial;
}
.login-page button{
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px; 
  padding: 10px 30px;
  font-family: arial;
  background-color: #1bf51b;
}
.login-page button:hover{
  background-color: #27d417;
  cursor: pointer;
}

